*{
    font-family:"Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#account_info{
    font-size: 22px;
}
.inputbox input{
    font-size: 18px;
    margin-bottom: 10px;
}
/* .inputbox{
    width: 150px;
} */
#product_set_input{
    width: 300px;
}
main{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 50px 50px 0px 100px;
    font-size: 20px;
    padding-bottom: 250px;
}
#server_error, #successful_order{

    position:relative;
    height: 80px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}
#successful_order{
    display:flex;
    width: 260px;
    background: rgba(166, 239, 167, 0.55);
    border: 3px solid rgb(97, 255, 17);
}
#server_error{
    display:flex;
    width: 260px;
    background: rgba(240, 168, 168, 0.55);
    border: 3px solid rgba(240, 168, 168);
}

#logout_btn,
#save_btn, 
#delete_btn,
#find_customers_btn,
#find_by_ID_btn, 
#find_orders_btn
{
    font-weight: 500;
    border: none;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 35px;
    width: 85px;
    line-height: 15px;
    white-space: nowrap;
}
#logout_btn{
    background-color: rgb(207, 19, 19);
}
#logout_btn:hover{
    background: rgb(255, 0, 0);
    transform: scale(1.05);
}
#logout_btn:active{
    background: rgb(143, 14, 14);
    transform: scale(0.95);
}
#save_btn, 
#delete_btn,
#find_customers_btn,
#find_by_ID_btn, 
#find_orders_btn
{
    background-color: rgb(0, 110, 0);
}

#save_btn:hover, 
#delete_btn:hover,
#find_customers_btn:hover,
#find_by_ID_btn:hover, 
#find_orders_btn:hover{
    background: rgb(0, 151, 0);
    transform: scale(1.05);
}
#save_btn:active, 
#delete_btn:active,
#find_customers_btn:active,
#find_by_ID_btn:active, 
#find_orders_btn:active{
    background: rgb(0, 68, 0);
    transform: scale(0.95);
}
#save_btn{
    width: 110px;
}






.text_and_btn{
    font-weight: 600;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}
#order_list,
#customer_list{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 20px;
}
.order,
.customer{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 2px;
    background: rgb(230, 255, 182);
    border-radius: 25px;
    padding: 20px;
}
.order{
    max-width: 500px;
}
.customer{
    max-width: 800px;
}
@keyframes logo_levitation {
    0% { transform: translateY(0px); }
    50% {transform: translateY(-30px); }
    100% { transform: translateY(0px); }
}

@media screen and (max-width: 1020px){
    .about_us_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 150px;
        margin-bottom: 150px;
        width: 100%;
    }
}
@media screen and (max-width: 670px){
    .our_location{
        width: 500px;
    }
}
@media screen and (max-width: 536px){
    .about_us_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .text_about_us p{
        font-size: 22px;
    }
    .logo{
        width: 200px;
    }
    .logo_name{
        font-size: 35px;
    }
    .our_location{
        width: 360px;
    }
    .map_title p{
        font-size: 21px;
    }
    
    @keyframes logo_levitation {
        0% { transform: translateY(0px); }
        50% {transform: translateY(-20px); }
        100% { transform: translateY(0px); }
    }
}
@media screen and (max-width: 450px){

    .our_location{
        width: 340px;
    }
}