<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Личный кабинет</title>
        <link rel="icon" href="/images/icons/favicon.ico" sizes = "any">
        <link rel="stylesheet" href="/css/account_style.css">
        <link rel="stylesheet" href="/css/header_style.css">
        <link rel="stylesheet" href="/css/footer_style.css">
        <script src = "/js/burger.js" defer></script>
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>

            <form id="account_info" action="/logout" method="post">
                <p th:text="'Ваш аккаунт: ' + ${username}"></p>
                <button id="logout_btn" type="submit">Выйти</button>
            </form>
            <div>
                <p th:text="'Полное имя: ' + ${user.full_name}"></p>
                <p th:text="'Группа: ' + ${group.name}"></p>
            </div>
<!--            <p id="orders_title">Ваше место в очереди:</p>-->
<!--            <p id="empty_title" th:if="${#lists.isEmpty(places)}">Вы не стоите в очереди</p>-->
<!--            <div id="order_list">-->
<!--                <div th:each="place : ${places}" class="order">-->
<!--                    <p>-->
<!--                        <strong th:text="'Время: '"></strong>-->
<!--                        <span th:text="${#temporals.format(place.time, 'dd.MM.yyyy HH:mm')}"></span>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
            <div th:if="${user.exchange_user != null}">
                <p th:text="'Вы меняетесь с: ' + ${user.exchange_user.full_name}"></p>
            </div>

            <!-- Отображаем входящие запросы -->
            <div th:if="${incomingRequests != null}">
                <h3>Запросы на обмен:</h3>
                <ul>
                    <li th:each="req : ${incomingRequests}">
                        <span th:text="${req.fromUser.full_name}"></span>
                        <form th:action="@{/exchange/confirm}" method="post">
                            <input type="hidden" name="requestId" th:value="${req.id}" />
                            <button type="submit">Принять</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- Кнопка отмены запроса -->
            <form th:if="${hasOutgoingRequest}" th:action="@{/exchange/cancel}" method="post">
                <button type="submit">Отменить запрос</button>
            </form>




        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>