<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Админ-панель</title>
        <link rel="icon" href="/images/icons/favicon.ico" sizes = "any">
        <link rel="stylesheet" href="/css/admin_style.css">
        <link rel="stylesheet" href="/css/header_style.css">
        <link rel="stylesheet" href="/css/footer_style.css">
        <script src = "/js/burger.js" defer></script>
    </head>
    <body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div th:if="${mes != null}" id="successful_order">
            <p th:text="${mes}"></p>
        </div>
        <div th:if="${er != null}" id="server_error" >
            <p th:text="${er}"></p>
        </div>
        <!-- Выход -->
        <form id="account_info" class="text_and_btn" action="/logout" method="post">
            <p th:text="'Администратор: ' + ${username}"></p>
            <button id="logout_btn" type="submit">Выйти</button>
        </form>


    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>